.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242424;
    padding: 10px 30px;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  
  .nav-links a:hover {
    color: #00bfff;
  }
  